extends layout

block content
	.wrap
		header
			h1.title #{title}
		main.container
			section.container-left
				dl#music-list.music-list
					dt.music-list-title #{listTitile}
						- for(var i in files)
							dd.music-list-item
								a(href='javascript:void(0);', data-url='#{files[i]}') #{files[i]}
			section.container-right
				.music-info
				.music-view
					canvas#canvas
				.music-bar
		footer
			p.author-info